@model NskWeb.Areas.F990.Models.D990005.D990005Model
@{
    ViewBag.HeaderPatternId = CoreConst.HEADER_PATTERN_ID_1;
    ViewBag.Title = "CheckInput";
}

@if (null != ViewBag.Message && "" != ViewBag.Message)
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}
<div class="table-responsive table-thead-container ">
    <div class="main_title btn_group_left mt_5">
        <h3>05_入力チェック、ツールチップテスト</h3>
    </div>
    <div class="clearfix"></div>
</div>
@using (Html.BeginForm("Create", "D990005", new { area = "F990" }))
{
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("_HiddenWindowId")

    <div class="form-horizontal">
        <h4>CheckInput</h4>
        <hr />
        <br>
        <p class="col-md-3">組合員等検索</p>

        @{var ln =1;}

        <table class="table common_table table-bordered table-condensed">
            <tr>
                <td>
                    <div class="input-group" style="width:30rem">
                        @Html.EditorFor(model => model.Kumiaiinto[ln - 1].KumiaiintoCd,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         @maxlength = Html.GetWithinDigitLengthMaxLength(model => model.Kumiaiinto[ln - 1].KumiaiintoCd),
                                         @id = "KumiaiintoCd" + @ln,
                                         @onchange = "searchCommonSetName(SC_FNC_KUMIAIINTO,'KumiaiintoCd" + @ln + "', 'KumiaiintoNm" + @ln + "')"
                                     }
                                 }
                                 )
                        <div class="input-group-text input-group-addon" title="検索">
                            <a style="cursor:pointer" onclick="searchCommon(SC_FNC_KUMIAIINTO, 'KumiaiintoCd'+@ln, 'KumiaiintoNm'+@ln);">
                                <span class="bi bi-search">検索</span>
                            </a>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(model => model.Kumiaiinto[ln - 1].KumiaiintoCd, "", new { @class = "text-danger" })
                </td>
                <td>
                    <div>@Html.TextBoxFor(model => model.Kumiaiinto[ln - 1].KumiaiintoNm, new { @style = "background-color: white;border:none;text-align:left;", @disabled = "true", @id = "KumiaiintoNm" + @ln })</div>
                </td>
                @{
            ln++;
        }
            <tr>
                <td>
                    <div class="input-group" style="width:30rem">
                        @Html.EditorFor(model => model.Kumiaiinto[ln - 1].KumiaiintoCd,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                             @maxlength = Html.GetWithinDigitLengthMaxLength(model => model.Kumiaiinto[ln - 1].KumiaiintoCd),
                                             @id = "KumiaiintoCd" + @ln,
                                             @onchange = "searchCommonSetName(SC_FNC_KUMIAIINTO,'KumiaiintoCd" + @ln + "', 'KumiaiintoNm" + @ln + "')"
                                         }
                                 }
                                 )
                        <div class="input-group-text input-group-addon" title="検索">
                            <a style="cursor:pointer" onclick="searchCommon(SC_FNC_KUMIAIINTO, 'KumiaiintoCd'+@ln, 'KumiaiintoNm'+@ln);">
                                <span class="bi bi-search">検索</span>
                            </a>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(model => model.Kumiaiinto[ln - 1].KumiaiintoCd, "", new { @class = "text-danger" })
                </td>
                <td>
                    <div>@Html.TextBoxFor(model => model.Kumiaiinto[ln - 1].KumiaiintoNm, new { @style = "background-color: white;border:none;text-align:left;", @disabled = "true", @id = "KumiaiintoNm" + @ln })</div>
                </td>
            </tr>
        </table>
        <hr />
        <p class="col-md-3">品種コード検索</p>
        <table class="table common_table table-bordered table-condensed">
            <tr>
                <td>
                    <div class="input-group" style="width:30rem">
                        @Html.EditorFor(model => model.HinshuCd,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         @maxlength = Html.GetWithinDigitLengthMaxLength(model => model.HinshuCd),
                                         @id = "HinshuCd",
                                         @onchange = "searchCommonSetName(SC_FNC_HINSHU,'HinshuCd', 'HinshuNm')"
                                     }
                                 }
                                 )
                        <div class="input-group-text input-group-addon" title="検索">
                            <a style="cursor:pointer" onclick="searchCommon(SC_FNC_HINSHU, 'HinshuCd', 'HinshuNm');">
                                <span class="bi bi-search">検索</span>
                            </a>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(model => model.HinshuCd, "", new { @class = "text-danger" })
                </td>
                <td>
                    <div>@Html.TextBoxFor(model => model.HinshuNm, new { @style = "background-color: white;border:none;text-align:left;", @disabled = "true", @id = "HinshuNm" })</div>
                </td>
            </tr>
        </table>
        <hr />
        <p class="col-md-3">産地別銘柄コード検索</p>
        <table class="table common_table table-bordered table-condensed">
            <tr>
                <td>
                    <div class="input-group" style="width:30rem">
                        @Html.EditorFor(model => model.SanchiMeigaraCd,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         @maxlength = Html.GetWithinDigitLengthMaxLength(model => model.SanchiMeigaraCd),
                                         @id = "SanchiMeigaraCd",
                                         @onchange = "searchCommonSetName(SC_FNC_SANTIMEIGARA,'SanchiMeigaraCd', 'SanchiMeigaraNm')"
                                     }
                                 }
                                 )
                        <div class="input-group-text input-group-addon" title="検索">
                            <a style="cursor:pointer" onclick="searchCommon(SC_FNC_SANTIMEIGARA, 'SanchiMeigaraCd', 'SanchiMeigaraNm');">
                                <span class="bi bi-search">検索</span>
                            </a>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(model => model.SanchiMeigaraCd, "", new { @class = "text-danger" })
                </td>
                <td>
                    <div>@Html.TextBoxFor(model => model.SanchiMeigaraNm, new { @style = "background-color: white;border:none;text-align:left;", @disabled = "true", @id = "SanchiMeigaraNm" })</div>
                </td>
            </tr>
        </table>
        <hr />
        <p class="col-md-3">統計単位地域コード検索</p>
        <table class="table common_table table-bordered table-condensed">
            <tr>
                <td>
                    <div class="input-group" style="width:30rem">
                        @Html.EditorFor(model => model.TokeiTaniCd,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         @maxlength = Html.GetWithinDigitLengthMaxLength(model => model.TokeiTaniCd),
                                         @id = "TokeiTaniCd",
                                         @onchange = "searchCommonSetName(SC_FNC_TOKEITANI,'TokeiTaniCd', 'TokeiTaniNm')"
                                     }
                                 }
                                 )
                        <div class="input-group-text input-group-addon" title="検索">
                            <a style="cursor:pointer" onclick="searchCommon(SC_FNC_TOKEITANI, 'TokeiTaniCd', 'TokeiTaniNm');">
                                <span class="bi bi-search">検索</span>
                            </a>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(model => model.TokeiTaniCd, "", new { @class = "text-danger" })
                </td>
                <td>
                    <div>@Html.TextBoxFor(model => model.TokeiTaniNm, new { @style = "background-color: white;border:none;text-align:left;", @disabled = "true", @id = "TokeiTaniNm" })</div>
                </td>
            </tr>
        </table>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Numeric, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Numeric,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 maxlength = 15
                             }
                         })
                @Html.ValidationMessageFor(model => model.Numeric, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">数字、必須</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.NumberPositive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.NumberPositive,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 @maxlength = Html.GetNumberPositiveMaxLength(model => model.NumberPositive),
                                 @type = "text"
                             }
                         })
                @Html.ValidationMessageFor(model => model.NumberPositive, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">整数：8桁</p>
            <p class="col-md-3">NumberPositive：@Html.GetNumberPositiveMaxLength(model => model.NumberPositive)</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.NumberDec, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.NumberDec,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 @maxlength = Html.GetNumberDecFullMaxLength(model => model.NumberDec)
                             }
                         })
                @Html.ValidationMessageFor(model => model.NumberDec, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">桁数：8桁, 小数部：2桁</p>
            <p class="col-md-3">NumberDecFullMaxLength：@Html.GetNumberDecFullMaxLength(model => model.NumberDec)</p>
            <p class="col-md-3">NumberDecIntMaxLength：@Html.GetNumberDecIntMaxLength(model => model.NumberDec)</p>
            <p class="col-md-3">NumberDecDecMaxLength：@Html.GetNumberDecDecMaxLength(model => model.NumberDec)</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.NumberSign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.NumberSign,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 @maxlength = Html.GetNumberSignMaxLength(model => model.NumberSign),
                                 @type = "text"
                             }
                         })
                @Html.ValidationMessageFor(model => model.NumberSign, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">整数：5桁</p>
            <p class="col-md-3">NumberSign：@Html.GetNumberSignMaxLength(model => model.NumberSign)</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.NumberSignDec, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.NumberSignDec,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 @maxlength = Html.GetNumberSignDecFullMaxLength(model => model.NumberSignDec)
                             }
                         })
                @Html.ValidationMessageFor(model => model.NumberSignDec, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">桁数：5桁, 小数部：1桁</p>
            <p class="col-md-3">NumberSignDecFullMaxLength：@Html.GetNumberSignDecFullMaxLength(model => model.NumberSignDec)</p>
            <p class="col-md-3">NumberSignDecIntMaxLength：@Html.GetNumberSignDecIntMaxLength(model => model.NumberSignDec)</p>
            <p class="col-md-3">NumberSignDecDecMaxLength：@Html.GetNumberSignDecDecMaxLength(model => model.NumberSignDec)</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.HalfWidthAlphaNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfWidthAlphaNum,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 maxlength = 15
                             }
                         })
                @Html.ValidationMessageFor(model => model.HalfWidthAlphaNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.HalfWidthAlphaNumSymbol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfWidthAlphaNumSymbol,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 maxlength = 15
                             }
                         })
                @Html.ValidationMessageFor(model => model.HalfWidthAlphaNumSymbol, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @maxlength = Html.GetStringLengthMaxLength(model => model.EmailAddress)
                        }
                    })

                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                <p class="col-md-3">StringLength：@Html.GetStringLengthMaxLength(model => model.EmailAddress)</p>
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DateGYMD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group date date-picker">
                    @Html.EditorFor(model => model.DateGYMD,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 maxlength = 9
                             }
                         })
                    <div class="input-group-text input-group-addon" title="カレンダーを表示">
                        <span class="bi bi-grid-3x3-gap-fill"></span>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.DateGYMD, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Hiragana, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hiragana,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 maxlength = 15
                             }
                         })

                @Html.ValidationMessageFor(model => model.Hiragana, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.FullWidthKatakana, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullWidthKatakana,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 maxlength = 15
                             }
                         })

                @Html.ValidationMessageFor(model => model.FullWidthKatakana, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.HalfWidthKatakana, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HalfWidthKatakana,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 maxlength = 15
                             }
                         })

                @Html.ValidationMessageFor(model => model.HalfWidthKatakana, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ExceptGaiji, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExceptGaiji,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 maxlength = 15
                             }
                         })

                @Html.ValidationMessageFor(model => model.ExceptGaiji, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.WithinStringLength, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.WithinStringLength,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 @maxlength = Html.GetWithinStringLengthMaxLength(model => model.WithinStringLength)
                             }
                         })
                @Html.ValidationMessageFor(model => model.WithinStringLength, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">半角英数記号、5文字以内</p>
            <p class="col-md-3">WithinStringLength：@Html.GetWithinStringLengthMaxLength(model => model.WithinStringLength)</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.WithinNumericLength, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.WithinNumericLength,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 @maxlength = Html.GetWithinDigitLengthMaxLength(model => model.WithinNumericLength)
                             }
                         })
                @Html.ValidationMessageFor(model => model.WithinNumericLength, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">数字、5桁以内</p>
            <p class="col-md-3">WithinDigitLength：@Html.GetWithinDigitLengthMaxLength(model => model.WithinNumericLength)</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.FullStringLength, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.FullStringLength,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                @maxlength = Html.GetFullStringLength(model => model.FullStringLength)
                             }
                         })
                @Html.ValidationMessageFor(model => model.FullStringLength, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">外字以外、全桁：5文字</p>
            <p class="col-md-3">FullStringLength：@Html.GetFullStringLength(model => model.FullStringLength)</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.FullNumericLength, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.FullNumericLength,
                         new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 @maxlength = Html.GetFullDigitLength(model => model.FullNumericLength)
                             }
                         })
                @Html.ValidationMessageFor(model => model.FullNumericLength, "", new { @class = "text-danger" })
            </div>
            <p class="col-md-3">数字、全桁：5桁</p>
            <p class="col-md-3">FullDigitLength：@Html.GetFullDigitLength(model => model.FullNumericLength)</p>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ProhibitWord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.ProhibitWord, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            maxlength = 15
                        }
                    })

                @Html.ValidationMessageFor(model => model.ProhibitWord, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <br>
        <div class="form-group">
            <label for="ToolTipTest1">１対１で対応するラベルと入力項目のToolTip表示テスト</label>
            <input id="ToolTipTest1" title="１対１で対応するラベルと入力項目のToolTip表示テスト" />
        </div>

        <br>
        <div class="form-group">
            <label for="ToolTipTest2">ラベルに対して入力項目が複数ある場合のToolTip表示テスト</label>
            <input id="ToolTipTest2" title="ラベルに対して入力項目が複数ある場合のToolTip表示テスト" />
            <input id="ToolTipTest2" title="ラベルに対して入力項目が複数ある場合のToolTip表示テスト" />
        </div>

        <br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>




    </div>
}

<div>
    @Html.ActionLink("戻る", "Init", "D0000", new { area = "F00" }, new { @class = "btn btn-warning mt_15" })
</div>

@section Scripts {
    <script type="text/javascript">
        // $(function () {
        //     $('#searchKumiaiinto').click(function () {
        //         const idx = "";
        //         // 子画面を開く
        //         var url = '@Url.Action("Init", "D000021", new { key = "IDX", area = "F000" })'.replace("IDX", idx);
        //         const childwindow = window.open(url, 'childwindow', 'width=1000,height=600');
        //     });

        // });

        // fnc
        // 1 = NSK_000020D	組合員等コード検索子画面
        // 2 = NSK_000021D	品種コード検索子画面
        // 3 = NSK_000022D	産地別銘柄コード検索子画面
        // 4 = NSK_000023D	統計単位地域コード検索子画面
        // function searchCommon(fnc, idCode, idName) {
        //     //alert("[" + fnc + "," + idCode + "," + idName + "]");
        //     var sid = "";
        //     var aid = "";
        //     var url = "";
        //     var idx = idCode + ";" + idName;
        //     switch (fnc) {
        //         case 1:
        //             url = '@Url.Action("Init", "D000020", new { key = "IDX", area = "F000" })'.replace("IDX", idx);
        //             break;
        //         case 2:
        //             url = '@Url.Action("Init", "D000021", new { key = "IDX", area = "F000" })'.replace("IDX", idx);
        //             break;
        //         case 3:
        //             url = '@Url.Action("Init", "D000022", new { key = "IDX", area = "F000" })'.replace("IDX", idx);
        //             break;
        //         case 4:
        //             url = '@Url.Action("Init", "D000023", new { key = "IDX", area = "F000" })'.replace("IDX", idx);
        //             break;
        //         default:
        //             return;
        //     }
        //     //alert("[" + url + "," + sid + "," + aid + "," + idx + "]");
        //     const childwindow = window.open(url, 'childwindow', 'width=1000,height=600');

        // }
        // function receiveValueFromChild(key, arr) {
        //     var ids = key.split(';');
        //     $('#' + ids[0]).val(arr[0]);
        //     $('#' + ids[1]).val(arr[1]);
        // }
        // function searchCommonSetName(fnc, idCode, idName) {
        //     switch (fnc) {
        //         case 1:
        //             var url = '@Url.Action("GetNameByCode", "D000020", new { area = "F000" })';
        //             break;
        //         case 2:
        //             var url = '@Url.Action("GetNameByCode", "D000021", new { area = "F000" })';
        //             break;
        //         case 3:
        //             var url = '@Url.Action("GetNameByCode", "D000022", new { area = "F000" })';
        //             break;
        //         case 4:
        //             var url = '@Url.Action("GetNameByCode", "D000023", new { area = "F000" })';
        //             break;
        //         default:
        //             return;
        //     }
        //     alert(url);
        //     var targetCd = $("#" + idCode).val();
        //     var data = { "TargetCd": targetCd }
        //     $("#" + idName).val("");
        //     $.ajax({
        //         type: 'POST',
        //         cache: false,
        //         contentType: "application/json; charset=utf-8",
        //         data: JSON.stringify(data),
        //         dataType: 'json',
        //         url: url,
        //         success: function (data) {
        //             $("#" + idName).val(data.ReturnNm).text(data.ReturnNm);
        //         }
        //     })

        // }
    </script>
}
